@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
	font-family: 'Open Sans', sans-serif;
	background:#f8f8f8;	
}
a:hover{
	text-decoration:none;
}
header{
	background:#1f1f1f;	
}
header .top{
	background:#111111;
	border-bottom:1px solid #464646;	
}
header .top .phone_email h2{
	font-size:18px;
	margin:10px 0px;
	color:#aeaeae;
	font-family: 'Open Sans', sans-serif;
}
header .top .phone_email h2 i{
	color:#007bbe;
	font-size:21px;	
}
header .bottom .logo{
	margin:5px 0px;	
}

header .bottom .menu .navbar-default{
	background:none;
	border:none;
	margin-top:30px;
}
header .bottom .menu .navbar-default .navbar-nav>li>a{
	color:#FFF;
	text-transform:uppercase;
	font-size:14px;	
}
header .bottom .menu .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background:none;
		
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background:none;	
}
.dropdown-menu{
	background:#373636;
	border:none;	
}
.dropdown-menu>li>a{
	color:#DDD;
	padding:5px 12px;
	transition:0.5s ease;	
}
.dropdown-menu>li>a:hover{
	background:#0f0f0f;
	color:#FFF;	
}
header .bottom .menu .nav>li>a{
	padding:10px 10px;	
}
.dropdown:hover .dropdown-menu {
   display: block;
}
.boxes{
	margin-top:20px;	
}
.boxes .box{
	border:1px solid #dbd9d9;
	background:#FFF;
	text-align:center;
	padding-bottom:10px;
	margin-bottom:15px;	
}
.boxes .box .box_img{
	padding:7px;
}
.boxes .box h2{
	text-transform:uppercase;
	font-size:22px;
	color:#d32727;
	text-align:center;
	background:#dbd9d9;
	margin:8px 0px;
	padding:7px 0px;
}
.boxes .box p{
	padding:0px 20px;
	text-align:center;
	font-size:14px;
	color:#2f2f2f;	
}
.boxes .box .btn{
	text-align:center;	
}
.award{
	text-align:center;	
}
.award img{
	margin:15px 0px;	
}
footer{
	background:#252525;
	margin-top:20px;	
}
footer .top{
	
}
footer .top h2{
	background:#d32727;
	text-transform:uppercase;
	font-size:22px;
	padding:8px 12px;
	color:#FFF;	
}

footer .top  h3{
	font-size:18px;
	margin:10px 0px;
	color:#aeaeae;
	font-family: 'Open Sans', sans-serif;
}
footer .top  h3 i{
	color:#007bbe;
	font-size:21px;	
}
footer .top ul{
	padding:0px;
	margin:0px;	
}
footer .top ul li{
	list-style:none;
	color:#FFF;
	text-transform:uppercase;
	line-height:23px;	
}
footer .top ul li:before{
	color:#FFF;
	content:'\f00c';
	font-family:'fontawesome';
	margin-right:7px;
}
footer .top p{
	color:#FFF;	
}
footer .bottom{
	background:#1c1c1c;
	padding:25px;
	margin-top:15px;	
}
footer .bottom p{
	text-transform:uppercase;
	font-size:14px;
	color:#d32727;
	margin:0px;	
}
.leva{
	text-align:right;	
}
.leva a{
	color:#d32727;	
}
.other_page h2{
	text-transform:uppercase;
	color:#d32727;
	font-size:22px;
	font-weight:bold;
	margin-bottom:25px;	
}
.other_page h3{
	color:#007bbe;
	font-size:16px;
	font-weight:bold;	
}
.sidebar h2{
	font-size:15px;
	font-weight:bold;
	color:#007bbe;	
}
.sidebar ul{
	padding:0px;
	margin:0px;	
}
.sidebar ul li{
	list-style:none;
	color:#252525;
	text-transform:uppercase;
	line-height:23px;	
}
.sidebar ul li:before{
	color:#252525;
	content:'\f00c';
	font-family:'fontawesome';
	margin-right:7px;
}
.award_two{
	margin-top:20px;	
}
.award_two img{
	margin:10px 0px;	
}
.coupon img{
	margin-bottom:20px;	
}

.margin-img img{
	margin-bottom:10px;
}
.margin-p p{
	margin-bottom:35px;	
}
.testi p{
	border:1px solid #CCC;
	padding:7px 15px;
	background:#eee;
}
.testi p span{
	color:#C00;
	font-weight:bold;	
}
.testi p em{
	color:#666;
	font-size:12px;	
}
@media(max-width:767px){
	header .bottom .menu .navbar-default{
		margin-top:20px;
		background:#333;
		border-radius:4px;	
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:none;	
	}
	header .bottom .menu .navbar-default .navbar-nav>li>a{
		border-bottom:1px solid #434242;	
	}
	header .top .phone_email{
		text-align:center;
	}
	footer{
		text-align:center;	
	}
	.leva{
	text-align:center;
	margin-top:10px;	
}
.other_page_bound{
	text-align:center;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
}

